
#header-right {
    font-size: 13px;
    padding: 5px 5px 0 5px;
    background-color: #56a4fe;
    height: 24px;
    top: 90px;
    right: 0px;
    position: absolute;
    font-weight: bold;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#header-right a{
    color: white;    
}

i {
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}